body {
    background-color: #39393a;
    margin: 0px 0px 0px 0px;
    height: 100vh;
}

label, p, button {
    color: #ff8552;
    font-size: 1.5rem;
    font-family: monospace;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    margin: auto;
    color: #ff8552;
    font-family: monospace;
    font-size: 5rem;
}

h2 {
    height: auto;
    margin: 0px;
    padding: none;
    color: #e6e6e6;
    text-align: center;
    font-family: monospace;
    font-size: 2rem;
}

p {
    height: auto;
    width: 275px;
    margin: 0px;
    padding: none;
    text-align: center;
}

.contentContainer {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.optionContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 12vh;
}

.centerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.gridContainer {
    background-color: #CECFD1;
    width: 80vh;
    height: 80vh;
    display: grid;
    flex: 0 0 auto;
    align-self: center;
}

.pixel {
    background-color: #CECFD1;
    width: 20px; 
    height: 20px;
}

.settingContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: space-around;
    flex-grow: 1;
    width: auto;
    gap: 10px;
}

.button {
    background-color: #39393a;
    border: 1px solid #CECFD1;
    border-radius: 2px;
    min-height: 40px;
}

.toggled {
    color: #39393a;
    background-color: #ff8552;
    border: 1px solid #ff8552;
    border-radius: 2px;
    min-height: 40px;
}

.slideContainer {
    display: flex;
    flex-direction: column;
    height: 72px;
    justify-content: space-evenly;
    align-items: center;
}

.slider {
    appearance: none;
    width: 100%;
    height: 5px;
    background: #CECFD1;
    outline: none;
    margin: 5px 0 10px 0;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    background-color: #393939;
    border: 1px solid #ff8552;
    cursor: pointer;
}

input[type="color"] {
    border: none;
    height: 40px;
    width: auto;
}

.swatchContainer {
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px 0 5px 0;
    gap: 10px;
}

.swatchRow {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: space-evenly;
    
}

.swatch {
    height: 5vh;
    width: 5vh;
    border: 1px solid #CECFD1;
}

.linkContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: center;
}

#links {
    width: auto;
    height: auto;
    margin: 1vh 0px 1vh 0px;
}

img {
    height: 4vh;
    margin: 0.5vh 1vh 0px 1vh;
}