/*
Background-color: #B91B20;
Title-color: #D09856;
Accent-color: #70A9A1;
Text-color: #0B2027;
Extra-color: #CECFD1;
*/



h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: auto;
    margin: 1vh auto 1vh auto;
    font-size: 8vh;
}

h2 {
    color: #0B2027;
    text-align: center;
}

.contentContainer {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.optionContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex: 0 0 auto;
    width: 12vw;
    gap: 5vh;
}

.gridContainer {
    background-color: #CECFD1;
    width: 80vh;
    height: 80vh;
    display: grid;
    flex: 0 0 auto;
    align-self: center;
}

.pixel {
    background-color: #CECFD1;
    width: 20px; 
    height: 20px;
}

.settingContainer {
    border: 3px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: space-around;
}